*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{

}
header{
    background-color: lightgray;
    /* padding: 30px; */
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    left: 0;
    right: 0;
}
.name{
    /* display: inline-block; */
    justify-content: flex-start;
    padding-left:30px;
    display: inline-flex;

}

ul{
    list-style-type: none;
    justify-content: flex-end;
    margin-right: 50px;
}

li{
    display: inline-flex;
}

li h1{
    display: inline;
}
li h1 a{
    background-color: grey;
    padding: 10px;
    text-decoration: none;
    color:white;
    border-radius: 10px;
}
li h1 a:hover{
    background-color: darkgrey;
}

.active{
    background-color:black;
}
main{
    padding: 135px 50px 50px 50px;
}

.home_bio{
    display: flex;
}
.quote{
    font-size:xx-large;
    text-align: center;
}