*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* body{

} */
header{
    background-color: lightgray;
    /* padding: 30px; */
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
}
.name{
    /* display: inline-block; */
    justify-content: flex-start;
    padding-left:30px;
    display: inline-flex;

}

.flex{
    display: flex;
    flex-direction: column;
}

.navcontainer{
    list-style-type: none;
    justify-content: flex-end;
    margin-right: 50px;
    

}

.navitem{
    display: inline-flex;
}

.navlink{
    background-color: grey;
    padding: 10px;
    text-decoration: none;
    color:white;
    border-radius: 10px;
}
.navlink:hover{
    background-color: darkgrey;
}

.active{
    background-color:black;
}

main{
    padding: 200px 50px 50px 50px; /* to account for navbar */
}

@media screen and (min-width: 786px){
    main{
        padding: 135px 50px 50px 50px;
    }

    .flex{
        flex-direction: row;
    }

}


.quote{
    font-size: xx-large;
    text-align: center;
}

.location{
    display: flex;
    flex-direction: column;
}

label{
    display:block;
}

.message_area{
    display: flex;
    flex-direction: column;
}



